---
- name: Install packages required by daemon, if necessary
  become: true
  package:
      name: "{{ item }}"
      state: present
  with_items: "{{ daemon.packages.common }}"

- name: Install packages required by daemon spacific for Fedora, if necessary
  become: true
  dnf:
      name: "{{ item }}"
      state: present
  with_items: "{{ daemon.packages.fedora }}"
  when: ansible_distribution == 'Fedora'

- name: Go get missing packages required by daemon on CentOS, if necessary
  raw: "go get -u {{ item }}"
  with_items: "{{ daemon.missing.centos }}"
  when: ansible_distribution == 'CentOS'

- name: Use go get to download leapp daemon and dependencies
  raw: "go get {{ daemon.git.repo }}/..."

- name: Install & build Leapp daemon
  block:
    - become: "{{ item.become }}"
      shell: "cd {{ daemon.link.src }} && make {{ item.name }}"
      with_items: "{{ common.build_steps }}"

- name: Add a symlink for daemon code to leapp working dir
  file:
      src: "{{ daemon.link.src }}"
      dest: "{{ daemon.link.dest }}"
      state: link
